<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590544700984-1qol85qjo6ug0qulecnfercb831pocl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590544700984-1qol85qjo6ug0qulecnfercb831pocl8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>590544700984-vk2oqae8cr3otj5idrtukq0epvl59v00.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAlJuyACkRtpSZtDZ6ysZ6LiZRqbv5f5M</string>
	<key>GCM_SENDER_ID</key>
	<string>590544700984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoListV2</string>
	<key>PROJECT_ID</key>
	<string>webfirebase-c0348</string>
	<key>STORAGE_BUCKET</key>
	<string>webfirebase-c0348.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590544700984:ios:d942c35ffdc8c8456988cd</string>
</dict>
</plist>